/*
orange #E87400
green #89A02C
brown #B95C00
light green #D5F33B
darker green #7EBF03
*/
#navdiv {
/*	background-image: linear-gradient(to top right, #7EBF03, #D5F33B);
	border-radius: 20px;
*/
	opacity: 100;
	}
.topnav {
	clear: left;
/*	background-color: #D5F33B;
	background-image: linear-gradient(to top right, #7EBF03, #D5F33B);
*/
	background-color: hsla(0, 100%, 70%, 0.0);
	width: 90%;
	margin-left: 5%
	height: auto; /*40px; */
	z-index: 10;
	margin-bottom: 50px;
/*	border: 10px solid #D5F33B;
*/
	}
.topnav::after {
	clear: both;
}
.topnav a {
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: white;
	font-size: 1.3em;
}
.topnav a:hover {
	border-top: 5px solid #E87400;
	background-color: #E87400;
	border-radius: 20%;

}
.topnav li:hover {
	border-radius: 20%;
}
#myTopnav .activeOne{
	background-color: #E87400;
	border-radius: 20%;

}
#myTopnav ul {
	list-style-type: none;
	height: auto;
	margin-top: 0px;
}
.topnav li {
	float: left;
	background: #B95C00;
	border-radius: 20%;
	margin-left: 5px;
}
#myTopnav ul ul {
	position: absolute;

}
#myTopnav li li {
	position: relative;
	max-height: 0;
	max-width: 0;
	overflow: hidden;
	float: none;
}
#myTopnav li:hover li {
	max-height: 15em;
	max-width: 15em;
	background-color: #E87400;
	border-radius: 20%;
}

.columnl {
	z-index: 10;
	height: auto;
	border-radius: 10%;
	position: relative;
	top: 100px;

}
.column {
	z-index: 10;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
}
.columnr {
	z-index: 10;
	height: auto;
}
body {
	height: auto;
	background-image: url("../images/background2.png");
	background-size: cover;
}
#header {
	position: fixed;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
/*	background-color: #D5F33B 0;
	background-image: linear-gradient(to top right, #7EBF03, #D5F33B);
*/
	background-color: hsla(120, 100%, 70%, 0.0);
	height: 115px;
	z-index: 20;
/*	border-left: 4px solid #D5F33B;
/*	border-right: 3% solid #D5F33B;	
	border-bottom: 3% solid #D5F33B;*/
	border-bottom: 3% solid #D5F33B;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	
	padding-left: 0px;
	padding-right: 7px;

	}
#header img {
	display: inline-block;
}
#logo {
	float: left;
	width: 30%;
	margin-left: 8%;
}
#logo img {
	width: 20%;
	border: 5px solid #FFFFFF;
	border-radius: 50%;
}
#userlogo {
	width: 20%;
	border: 5px solid #D5F33B;
	border-color: hsla(120, 100%, 70%, 0.0);
	border-radius: 50%;
	float: left;
	background-color: hsla(120, 100%, 70%, 0.0);
}
#connectlink {
	position: relative;
	top: 15px;
	left: 5px;
	color: #E87400;
}
#title {
	float: left;
	width: auto;
	height: 50px;
}
#title p {
	display: inline-block;
	float: left;
	position: relative;
	text-shadow: 2px 2px #ff0000;
	color: #FFFFFF;
	font-size: 2em;
	top: -25px;
	line-height: 30px;
	height: 30px;
	padding-top: 0px;
}
#espace-eleve {
	margin-right: 8%;
	float: right;
	width: 20%;
	border-radius: 10%;
}
#footer {
	background-color: #ffffff;
	position: relative;
	top: 100px;
	width: 80%;
	height: 45px;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 30;
	margin-bottom: 30px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
.contacts {
	float: left;
	width: 22.5%;
	text-align: center;
}
#home_content {
	background-color: #FFFFFF;
}
.content{
	clear: both;
	position: relative;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #FFFFFF;
	border-left: 10%;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
/*	border-radius: 5%;
*/
	border: 50px;
	border-bottom: 115px;
	border-bottom-color: #ffffff;
	
/*	background-color: #D5F33B;
*/
	top: 114px;
}
.padding {
	height: 120px;
}
.row {
	position: relative;
	top: 15px;
	clear: both;
	height: auto;
	width: 100%;
	overflow:auto;
	z-index: 5;
	height: auto;
	padding-top: 0%;
	margin-top: 2px;
	background-color: #ffffff;
}
store {
	background-image: url("../images/home.png");
    background-repeat: no-repeat;
    background-color: #cccccc;
	background-size: contain; 
}
#home_image {
	max-height: 100%;
	width: 100%;
	z-index: 1;
}
#left_pane1 {
	float: left;
/*	position: absolute;
*/
	position: relative;
	top: 2%;
	left: 0;
	top: 5%;
	z-index: 2;

}
#main_div1 {
	opacity: 0.5;
}
#right_pane {
	z-index: 2;
}
#espace_eleve"{
	height: auto;
}

#blog{
	height: auto;
}
#main_div1{
	height: auto;
}
#main_content{
	height: auto;
}
#navigation2{
	height: auto;
	width: 80%;
	margin: auto;
}
#right_pane{
	height: auto;
	z-index: 2;
}
#recette{
	height: auto;
}
#archive{
	height: auto;
}
#archive > h3{
	text-align: center;
}
#archive > p{
	text-align: center;
}
#home_body > div > div > div[class="columnl"]{
	float: left;
	color: green;
	width: 20%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
#home_body > div > div > div[class="column"]{
	float: left;
	display: none;
	color: red;
	width: 66%;
}
#home_body > div > div > div[class="columnr"]{
	float: left;
	display: none;
	width: 0%;
}
#home_body > div > div > div[class="columnl"] img {
	width: 100%;
}

#home_body > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#home_boutique {
	max-height: 100%;
	max-width: 100%;
}
#e_boutique{
	height: auto;
	background-color: #ffffff;
	margin-bottom: 2px;
	margin-top: 2px;
}
#espace_eleve{
	height: auto;
	background-color: #ffffff;
}
#home_blog{
	height: auto;
	background-color: #ffffff;
}
#home_blog img {
	width: 100%;
}
#blog_body > div > div > div[class="columnl"]{
	display: none;
}
#blog_body > div > div > div[class="columnr"]{
	display: none;
}
#blog_body > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#about_body > div > div > div[class="columnl"]{
	display: none;
}
#about_body > div > div > div[class="columnr"]{
	display: none;
}
#about_body > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}

#contacts #main_content {
	height: 400px;
	position: relative;

}
#contacttext {
	left: 100px;
	z-index: 31;
	position: absolute;
	top: 10px;
}
.contacttext {
	z-index: 32;
	color: #ffffff;
	text-align: center;
	font-size: 2em;
}
#contacts > div > div > div[class="columnl"]{
	display: none;
}
#contacts > div > div > div[class="column"]{
	width: 90%;
	margin: auto;
}
#contacts > div > div > div[class="column"] img{
	height: 100%;
	width: 100%;
	z-index: 30;
}
#contacts > div > div > div[class="columnr"]{
	display: none;
}
#contacts > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
}
#espaceeleve_body > div > div > div[class="columnl"]{
	float: left;
	color: orange;
	width: 20%;
	display: none;
}
#espaceeleve_body > div > div > div[class="column"]{
	float: left;
	width: 60%;
	margin: auto;
}
#espaceeleve_body > div > div > div[class="columnr"]{
	float: left;
	width: 33%;
	display: none;
}
#espaceeleve_body > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#espaceeleve_body div[id="main_div"]{
	color: red;
	width: 60%;
	margin: auto;
}

.userformimg{
	width: 25px;
}
.eleveicons{
	width: 25px;
	position: relative;
	top: 10px;
}
.userinput {
	position: relative;
	top: -5px;
}
#eleveform {
	width: 60%;
	margin: auto;
	min-height: 400px;
}
#espaceeleve_body > div > div > div[class="column"] > div[id="home_image"]{
	position: aboslute;
}

#technique > div > div > div[class="columnl"]{
	float: left;
	color: orange;
	width: 20%;
}
#technique > div > div > div[class="column"]{
	float: left;
	width: 40%;
}
#technique > div > div > div[class="columnr"]{
	float: left;
	width: 33%;
}
#technique > div > div > div[class="columnl"] > div[id="espace_eleve"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#technique > div > div > div[class="columnr"] > div[id="recette"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#technique > div > div > div[class="columnl"] img {
	width: 100%;
}
#technique > div > div > div[class="column"] img {
	width: 100%;
}
#technique > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}

#prana > div > div > div[class="columnl"]{
	float: left;
	color: orange;
	width: 20%;
}
#prana > div > div > div[class="column"]{
	float: left;
	color: red;
	width: 63%;
}
#prana > div > div > div[class="columnr"]{
	float: left;
	color: green;
	width: 15%;
}

#prana > div > div > div[class="columnl"] > div[id="espace_eleve"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#prana > div > div > div[class="columnr"] > div[id="recette"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}

#meditation > div > div > div[class="columnl"]{
	float: left;
	color: orange;
	width: 20%;
}
#meditation > div > div > div[class="column"]{
	float: left;
	width: 63%;
	font-size: 2em;
}
#meditation > div > div > div[class="columnr"]{
	float: left;
	color: green;
	width: 15%;
}
#meditation > div > div > div[class="columnl"] > div[id="espace_eleve"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#meditation > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#meditation > div > div > div[class="columnr"] > div[id="recette"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#meditation > div > div > div[class="columnl"] img {
	width: 100%;
}
#Hygiene > div > div > div[class="columnl"]{
	float: left;
	color: orange;
	width: 20%;
}
#Hygiene > div > div > div[class="column"]{
	float: left;
	color: red;
	width: 75%;
}
#Hygiene > div > div > div[class="columnr"]{
	display: none;
	float: left;
	color: green;
	width: 33%;
}
#Hygiene > div > div > div[class="columnl"] > div[id="espace_eleve"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#Hygiene > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#Hygiene > div > div > div[class="columnl"] img {
	width: 100%;
}

#alimentation > div > div > div[class="columnl"]{
	float: left;
	color: orange;
	width: 20%;
}
#alimentation > div > div > div[class="column"]{
	float: left;
	color: red;
	width: 70%;
}
#alimentation > div > div > div[class="columnr"]{
	float: left;
	color: green;
	width: 55%;
	display: none;
}
#alimentation > div > div > div[class="columnl"] > div[id="espace_eleve"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#alimentation > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}
#alimentation > div > div > div[class="columnr"] > div[id="archive"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}

#planning > div > div > div[class="columnl"]{
	float: left;
	display: none;
	color: orange;
	width: 0%;
}
#planning > div > div > div[class="column"]{
    margin-left: auto;
    margin-right: auto;
	display: block;
	color: black;
	width: 66%;
}
#planning > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
}
#planning > div > div > div[class="columnr"]{
	float: left;
	display: none;
	color: green;
	
	width: 0%;
}

#ateliers > div > div > div[class="columnl"]{
	float: left;
	display: none;
	color: orange;
	width: 0%;
}
#ateliers > div > div > div[class="column"]{
    margin-left: auto;
    margin-right: auto;
	display: block;
	color: red;
	width: 100%;
}
#ateliers > div > div > div[class="columnr"]{
	float: left;
	display: none;
	color: green;
	width: 0%;
}
#ateliers > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}

#eboutique > div > div > div[class="columnl"]{
	display: none;
	float: left;
	color: orange;
	width: 20%;
}
#eboutique > div > div > div[class="column"]{
	float: left;
	color: red;
	width: 90%;
	max-height: 500px;
}
#eboutique > div > div > div[class="column"] > div[id="main_content"]{
	margin: auto;
	width: 100%;
	height: 40%;
	max-height: 500px;
}
#eboutiqueframe .wrap{
	max-height: 500px;
}
.flex-viewport {
	max-height: 500px;
}
#eboutique .slider-wrapper {
		max-height: 100%;
}
#eboutique > div > div > div[class="columnr"]{
	display: none;
	float: left;
	color: green;
	width: 55%;
}
#eboutique > div > div > div[class="column"] > div[id="navigation2"]{
	display: none;
	float: left;
	color: red;
	width: 33%;
}

.row1 {
	padding-top: 40px;
	margin-top: 2px;
	
}
.row:after {
    clear: both;
}
.thumbnail-container {
    overflow-x:scroll;
    height: auto;
    width:100%;
    padding: 0 15px;
}
.thumbnail-container-tech {
    overflow-x:scroll;
    height: auto;
    width:100%;
}
.thumbnail-container-arch {
    height: auto;
    width:100%;
}
.thumbnail-container-arch img {
	width: 100%;
}
.thumbnail-list {
	height: auto;
    white-space:nowrap;
}
.thumbnail-list li {
   display: inline-block;
}
.thumbnail-image {
    display: block;
    padding:2px;
    max-width: 100px;
    height:100px;
}
.thumbnail-list li a:hover img{ 
	/* grossissement */ 
	-webkit-transform: scale(1.5) rotate(-10deg); 
	-moz-transform: scale(1.5) rotate(-10deg); 
	-o-transform: scale(1.5) rotate(-10deg); 
	-ms-transform: scale(1.5) rotate(-10deg); 
	transform: scale(1.5) rotate(-10deg); 
	/* ombre */ 
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
	-o-box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
	-ms-box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
}
.thumbnail-list-arch li a:hover img{ 
	/* grossissement */ 
	-webkit-transform: scale(1.5); 
	-moz-transform: scale(1.5); 
	-o-transform: scale(1.5); 
	-ms-transform: scale(1.5); 
	transform: scale(1.5); 
	/* ombre */ 
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
	-o-box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
	-ms-box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5); 
}
.thumbnail-image-arch {
    display: block;
    padding:2px;
    max-width: 90%;
    height:100px;
}
.thumbnail-image-narrow {
    display: block;
    padding:2px;
    max-width: 90%;
    height:50px;
}
